body {
    background: fixed;
    background-position: center;
    background-image: url(pic/backdround.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutme {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
}

h1 {
    color: aqua;
}

p {
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-weight: 600;
}

.abu {
    position: absolute;
    top: 51%;
    left: 10%;
}
@media (max-width: 768px) {
    .abu {
        position: absolute;
        top: 60%;
        left: 5%
    }
}

#education {
    color: aqua;
    position: absolute;
    top: 43%;
    left: 10%;
}
@media (max-width: 768px) {
    #education {
        position: absolute;
        top: 54%;
        left: 5%
    }
}

#sech{
 color: aqua;
 position: absolute;
 top: 43%;
 left: 40%;
}
@media (max-width: 768px) {
    #sech {
        position: absolute;
        top: 74%;
        left: 5%
    }
}



.abou {
    position: absolute;
    top: 51%;
    left: 40%;
    color: white;
    font-weight: 600;
}

#ppart {
    color: white;
    font-weight: 600;
}





@media (max-width: 768px) {
    .abou {
        position: absolute;
        top: 82%; 
        left: 5%;
        order: 1; 
    }
}
.exper {
    position: absolute;
    top: 68%;
    left: 10%;
    width: 390px;
    height: 250px;
    background-color: aquamarine;
    border-color: black;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .exper {
        position: absolute;
        top: 104%;
        left: 0%;
        order: 1; 
    }
}

#secP {
    color: black;
    font-weight: 500;
}

.expo {
    position: absolute;
    top: 50%;
    left: 290%;
    color: white;
}

h3 {
    color: black;
    font-weight: 900;
    text-decoration: underline;
}

.image {
    position: absolute;
    top: 33%;
    left: 58%;
    width: 400px;
    height: auto;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px; 
    box-shadow: 20px 20px 50px #43aba6;
    background-color: antiquewhite;
}

#h22 {
    position: absolute;
    top: 60%;
    left: 10%;
    color: aqua;
}
@media (max-width: 768px) {
    #h22 {
        position: absolute;
        margin-top: 56%; 
        left: 40%;
        
    }
}


.experTwo {
    position: absolute;
    top: 68%;
    left: 40%;
    width: 390px;
    height: 250px;
    background-color: aquamarine;
    border-color: black;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .experTwo {
        position: absolute;
        top: 144%; 
        left: 0%;
        order: 1; 
    }
}

#ThirdP {
    color: black;
    font-weight: 500;
}

.experThree {
    position: absolute;
    top: 68%;
    left: 70%;
    width: 390px;
    height: 250px;
    background-color: aquamarine;
    border-color: black;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .experThree {
        position: absolute;
        top: 184%; 
        left: 0%;
        order: 1; 
    }
}

#FourthP {
    color: black;
    font-weight: 500;
}

ol.main {
    list-style-type: none;
    margin: 0;
    padding: 40px;
    position: absolute; 
    top: 20px; 
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
  }
  
  li.page {
    background-color: white;
    width: 90px;
    height: 30px;
    border: solid 5px;
    border-radius: 8px;
    border-color: white;
    margin-right: 10px;
  }
  
  
  @media only screen and (max-width: 600px) {
    li.page {
      width: 100%; 
      margin-right: 2px;
      margin-bottom: 10px;
    }
  }
  
  li.page a {
    text-decoration: none;
    color: green;
    padding: 10px; 
    font-weight: 600;
  }

ol li:hover {
    background-color: red;
    border-color: red;
}

ol li a:hover {
    color: white;
}


@media (max-width: 768px) {
    .aboutme {
        top: 12%; 
        left: 5%; 
    }
    
    
   
    #h22 {
        left: 5%; 
    }

    ol {
        
        right: 0%;
    }
}
