body {
    background: fixed;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; /* Add this to remove default margin */
}

ol.main {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute; /* Change to fixed position */
    top: 20px; /* Adjust the top position as needed */
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Adjust to align items to the bottom */
  }
  
  li.page {
    background-color: red;
    width: 90px;
    height: 30px;
    border: solid 5px;
    border-radius: 8px;
    border-color: red;
    margin-right: 10px;/* Remove margin for smaller screens */
  }
  
  /* Media query for smaller screens */
  @media only screen and (max-width: 600px) {
    li.page {
      width: 100%; /* Adjust width for full width on smaller screens */
      margin-right: 2px;
      margin-bottom: 10px;
    }
  }
  
  li.page a {
    text-decoration: none;
    color: white;
    padding: 10px; /* Adjust padding for smaller screens */
    font-weight: 700;
  }

ol li:hover {
    background-color: white;
    border-color: white;
}

ol li a:hover {
    color: black;
}

h1 {
    position: relative;
    top: 0%;
    left: 40px;
    color: white;
}

.skill-category {
    
    background-color: #ecf0f1;
    margin: 70px 5%; /* Add margin to create space */
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c3e50;
}

.skill-list {
    
    list-style: none;
    padding: 0;
}

.skill-item {
    background-color: #3498db;
    color: #fff;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.skill-item:hover {
    background-color: #2980b9;
}

/* Additional styling for each skill category */
.java { background-color: #2ecc71; }
.python { background-color: #e74c3c; }
.javascript { background-color: #f39c12; }
.spring { background-color: #27ae60; }
.css { background-color: #9b59b6; }
.html { background-color: #a88d32; }
.react { background-color: #34495e; }
.sql { background-color: #32a85b; }
.mysql { background-color: #a83271; }
.mongodb { background-color: #a83232; }

@media (max-width: 768px) {
    .skill-list {
        padding: 20px 0; /* Adjust padding for smaller screens */
    }
}

